.section {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 1130px;
}

.usersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 419px) {
  .usersList {
    width: calc((100%) / 1);
  }
}
@media (max-width: 799px) {
  .usersList {
    width: calc((100%) / 2);
  }
}
@media (min-width: 800px) {
  .usersList {
    width: calc((100%) / 3);
  }
}

.userCard {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 5px;
}

.infoContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}

.btnContainer {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px var(--background);
}

.avatar {
  height: 75px;
  width: auto;
  border-radius: 4px;
  overflow: hidden;
}

.gapControl {
  gap: 12px;
}

.text {
  color: var(--text);
  font-size: 18px;
}

.subtext {
  color: var(--subtext);
  font-size: 12px;
}

.flow {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0;
  left: 0;
}

.badge {
}

.icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.link {
  color: var(--link);
  font-size: 18px;
}
